# PI7 Assignment 

## Deel 1
In dit notebook voer ik de vereiste stappen uit van de PI7-opdracht.  
Ik analyseer de SQL-database, extraheer de data naar Python, voer een uitgebreide Exploratory Data Analysis (EDA) uit en onderzoek de datakwaliteit.  
Daarnaast beschrijf ik de noodzakelijke voorbereidingen voor verdere machine-learning analyse en realiseer ik de volledige datacleaning-pipeline.

# Overzicht van de Database

Deze database bestaat uit twee tabellen die met elkaar verbonden zijn via een foreign key.

## Tabellen en Relaties

De hoofdtabellen zijn:

- **race_results**
- **riders**

De relatie tussen beide tabellen loopt via **rider_id**, welke fungeert als primary key in `riders` en als foreign key in `race_results`.


## Kolommen per Tabel

![image info](./images/ERD.png)


## Compleetheid & Anomalieën

- **Missende waarden:** kunnen voorkomen in optionele velden zoals `Timelag`, `BiB`, `pps`, `rdr`. Exacte controle vereist inspectie van de dataset.
- **Mogelijke anomalieën:**
  - Mismatches tussen teams  
  - Dubbele renners in `riders`  
  - Verwijzingen naar niet-bestaande renners (`rider_id` ontbreekt in `riders`)  
  - Inconsistentie in datatypen

In [ ]:
import sqlite3
import os
import pandas as pd
import seaborn as sns

# Pad naar database
db_path = os.path.join("data", "cycling_db.db")
conn = sqlite3.connect(db_path)

# Lees tabellen in als DataFrame
df_rider = pd.read_sql_query("SELECT * FROM riders;", conn)
df_race_results = pd.read_sql_query("SELECT * FROM race_results;", conn)

conn.close()

## Grootte van de Dataset

- **Aantal rijen:** 
  - `race_results`: 225918 
  - `riders`: 1042 


- **Aantal kolommen:**  
  - `race_results`: 25  
  - `riders`: 10

In [19]:
df_race_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225918 entries, 0 to 225917
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            225918 non-null  int64
 1   Rnk           225918 non-null  object
 2   GC            195498 non-null  float64
 3   Timelag       195498 non-null  object
 4   BiB           225918 non-null  object
 5   Rider         225918 non-null  object
 6   Age           225918 non-null  int64
 7   Team          225889 non-null  object
 8   UCI           11844 non-null   float64
 9   Pnt           31760 non-null   float64
 10  Time          225918 non-null  object
 11  Circuit       225918 non-null  int64
 12  Race_Name     225918 non-null  object
 13  Stage_Name    200677 non-null  object
 14  Date          225918 non-null  object
 15  Stage_Type    225918 non-null  object
 16  Start         225918 non-null  object
 17  Finish        225918 non-null  object
 18  Race_ID       225918 non-null  int64
 19  Stage_Number  225918 non-null  int64
 20  Length        225918 non-null  object
 21  Category      225918 non-null  object
 22  Race_url      225918 non-null  object
 23  Stage_url     200677 non-null  object
 24  rider_id      173729 non-null  object
dtypes: float64(3), int64(5), object(17)
memory usage: 43.1+ MB

In [17]:
df_rider.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rider_id   1042 non-null   object
 1   fullname   1042 non-null   object
 2   team       1042 non-null   object
 3   birthdate  1042 non-null   object
 4   country    1042 non-null   object
 5   height     1042 non-null   float64
 6   weight     1042 non-null   float64
 7   rider_url  1042 non-null   object
 8   pps        1042 non-null   object
 9   rdr        1042 non-null   object
dtypes: float64(2), object(8)
memory usage: 81.5+ KB

In [ ]:
# Lees tabellen in als DataFrame